body {
    margin: 2em !important;
    text-align: center;
}

.card {
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    text-align: center;
    width: 30em !important;
}

#upBut {
    width: 20em !important;
}

.button {

    margin-top: 1em !important;
}